/* -----------------------
        Universal Styles
-------------------------- */
:root {
    --banner-bg-color: #2D25A0;
    --btn-bg-color: #E02C6D;
    --feature-text-color: #E02C6D;
    --primary-text-color: #18191F;
    --secondary-text-color: #6C6C6C;
    --brand-text-color: #FFFFFF;
    --icon-color: #969BAB;
    --transition: all 0.2s ease-in;
    --featured-transition: all 0.4s ease-in-out; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.section-title {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    letter-spacing: 4px;
}

.section-title span {
    color: var(--secondary-text-color);
}

a {
    text-decoration: none;
}

.btn a {
    display: block;
    padding: 10px 24px;
    background: var(--btn-bg-color);
    font-size: 16px;
    color: var(--brand-text-color);
    border-radius: 2.5px;
    transition: var(--transition);
}

.btn:hover a {
    border-radius: 4px;
    transform: translateY(-5px) scale(0.9999);
}

/* -----------------------
        Header Styles
-------------------------- */
header {
    background: var(--banner-bg-color);
    height: 677px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#header-container {
    padding-top: 42px;
}

/* nav styles */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-right: 36px;
}

ul li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--brand-text-color);
    transition: var(--transition);
}

ul li:hover a {
    color: var(--feature-text-color);
}

.mob-nav-menu {
    color: var(--brand-text-color);
    display: none;
}

.nav-login-btn .fas {
    margin-right: 8px;
}

/* banner styles */
.banner {
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    text-align: left;
}

.banner-info .banner-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--brand-text-color);
    line-height: 80px;
    margin-bottom: 27px;
}

.banner-img:hover img {
    transform: translate(-28px) scale(0.9);
}

.banner-img img {
    width: 521.5px;
    height: 427.5px;
    transition: var(--transition);
}

.banner-btn {
    width: 168px;
}

.banner-btn .fas {
    margin-left: 8px;
}

/* -----------------------
BEST-PLAYERS SECTION STYLES
-------------------------- */
.best-players {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.best-player {
    width: 330px;
    height: 474px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.best-player-img img {
    width: 300px;
    height: 256px;
}

.best-player-name {
    color: var(--primary-text-color);
    font-size: 28px;
    margin: 16px 0 10px 0;
}

.best-player-info {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 26px;
}

/* -----------------------
latest-photos section styles
-------------------------- */
.latest-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-top: 30px;
}

.latest-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 340px;
    transition: var(--transition);
}

.latest-photo-thumbnail {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.latest-photo-thumbnail:hover .empty-bar-1 {
    transform: translateY(2px);
}

.latest-photo-thumbnail:hover .empty-bar-2 {
    transform: translateY(4px);
}

.latest-photo-thumbnail:hover img {
    transform: scale(1.1);
}

.latest-photo-thumbnail a {
    z-index: 100;
    overflow: hidden;
}

.latest-photo-thumbnail a img {
    display: block;
    width: 330px;
    height: 235px;
    transition: var(--transition);
}

.latest-photo-thumbnail-info {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--brand-text-color);
}

.empty-bar-1 {
    z-index: 99;
    position: absolute;
    bottom: -8px;
    width: 322px;
    height: 20px;
    background: #c6c6c6;
    transition: var(--transition);
}
.empty-bar-2 {
    z-index: 98;
    position: absolute;
    bottom: -16px;
    width: 312px;
    height: 20px;
    background: hsla(0,0%,78%,.5);
    transition: var(--transition);
}

.latest-photo-thumbnail-info .fas {
    margin-left: 4px;
    font-size: 20px;
}

.latest-photo-title {
    margin-top: 15px;
    position: relative;
    color: var(--primary-text-color);
    font-size: 24px;
    margin: 16px 0 10px 0;
    text-transform: capitalize;
    transition: var(--transition);
}

.latest-photo-info {
    display: flex;
    justify-content: space-between;
}

.latest-photo-info .latest-photo-info-album {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--btn-bg-color);
}

.latest-photo-info .fa-images, .fa-clock {
    margin-right: 4px;
}

.latest-photo-info-time {
    font-size: 14px;
    color: var(--secondary-text-color);
}

/* -----------------------
featured section styles
-------------------------- */
.featured {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    width: 810px;
    height: 506.7px;
    background: linear-gradient(rgba(0,0,0,0.28), rgba(0,0,0,0.7)), url(/images/featured.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 10px;
    transition: var(--transition);
}

.featured:hover .featured-intro {
    top: 170px;
}
.featured:hover .featured-title {
    bottom: 115px;
}
.featured:hover .featured-info {
    bottom: 64px;
}
.featured:hover .featured-article-link {
    bottom: 25px;
}

.featured-link {
    position: absolute;
    background: var(--btn-bg-color);
    color: var(--brand-text-color);
    text-transform: uppercase;
    padding: 8px 15px;
    top: 25px;
    left: 25px;
}

.featured-intro {
    position: absolute;
    text-transform: capitalize;
    color: var(--feature-text-color);
    top: 255px;
    left: 25px;
    transition: var(--featured-transition); 
}

.featured-title {
    position: absolute;
    text-transform: uppercase;
    color: var(--brand-text-color);
    font-size: 40px;
    bottom: 30px;
    left: 25px;
    transition: var(--featured-transition); 
}

.featured-info {
    position: absolute;
    color: var(--brand-text-color);
    width: 80%;
    font-size: 14px;
    bottom: -45px;
    left: 25px;
    transition: var(--featured-transition); 
}

.featured-article-link {
    position: absolute;
    color: var(--brand-text-color);
    text-transform: uppercase;
    bottom: -84px;
    left: 25px;
    transition: var(--featured-transition);
    transition: var(--featured-transition); 
}

.featured-article-link:hover {
    color: var(--feature-text-color);
}

.featured-article-link .fas {
    color: var(--feature-text-color);
    margin-right: 10px;
}
/* -----------------------
    FOOTER STYLES
-------------------------- */
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 63px 0;
}

footer img {
    width: 483px;
    height: 110px;
}

.footer-icons {
    display: flex;
}

.footer-icons a {
    display: block;
    padding: 10px 14px;
    background: rgba(11, 13, 23, 0.1);
    border-radius: 50%;
    margin-right: 14px;
    transition: var(--transition);
}

.footer-icons a:hover {
    transform: translateY(-4px);
}

.footer-icons a .fab {
    font-size: 17px;
    color: var(--icon-color);
}

.footer-info {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}

/* -----------------------
        MEDIA QUERIES
-------------------------- */
@media only screen and (max-width:  689px) {
    /* universal styles */
    .section-title {
        text-align: center;
    }

    nav {
        padding: 0 16px;
        margin-bottom: 46px;
    }

    .web-nav-menu {
        display: none;
    }

    .mob-nav-menu {
        display: block;
    }

    .container {
        width: 100%;
    }

    /* header responsive */

    .header-container {
        padding-top: 33px;
    }

    .banner {
        margin-top: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-info {
       padding: 0 66px 0 16px;
    }

    .banner-info .banner-title {
        width: 278px;
        line-height: 50px;
        margin-bottom: 30px;
        font-size: 36px;
    }

    .banner-img {
        margin: 50px 0 61px 0;
    }

    .banner-img img {
        width: 329.5px;
        height: 270px;
    }

    /* best players responsive */
    .best-players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    /* latest photo responsive */
    .latest-photos {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    /* featured responsive */
    .featured {
        width: 405px;
        height: 253.35px;
    }

    .featured:hover .featured-intro {
        top: 40px;
    }
    .featured:hover .featured-title {
        bottom: 100px;
    }
    .featured:hover .featured-info {
        bottom: 40px;
    }
    .featured:hover .featured-article-link {
        bottom: 10px;
    }

    .featured-link {
        font-size: 10px;
        letter-spacing: 0.8px;
        padding: 4px 12px;
        top: 10px;
    }
    
    .featured-intro {
        font-size: 14px;
        top: 85px;
    }
    
    .featured-title {
        font-size: 21.5px;
        bottom: 30px;
    }
    
    .featured-info {
        font-size: 12px;
        bottom: -90px;
        left: 25px;
    }
    
    .featured-article-link {
        font-size: 14px;
        bottom: -120px;
    }

    /* footer section responsive */
    .footer-logo {
        margin-bottom: 29px;
    }
    .footer-logo img {
        width: 60%;
        height: 60%;
    }
    .footer-info {
        margin: 20px 0 187px 0;
    }
}

/* tab responsive */
@media only screen and (min-width: 689px) and (max-width: 991px) {
    /* universal styles */
    .section-title {
        text-align: center;
    }

    nav {
        display: none;
    }

    .container {
        width: 100%;
    }

    /* header responsive */

    .banner {
        margin-top: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-info {
        padding: 0 66px 0 16px;
     }
 
     .banner-info .banner-title {
         width: 378px;
         line-height: 59px;
         margin-bottom: 30px;
         font-size: 50px;
     }
 
     .banner-img {
         margin-top: 50px;
     }
 
     .banner-img img {
         width: 329.5px;
         height: 270px;
     }

     /* best players responsive */
    .best-players {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        /* grid-column-gap: 0; */
    }

    /* latest photo responsive */
    .latest-photos {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}