/* -----------------------
        Universal Styles
-------------------------- */
:root {
    --banner-bg-color: #2D25A0;
    --btn-bg-color: #E02C6D;
    --primary-text-color: #18191F;
    --secondary-text-color: #6C6C6C;
    --brand-text-color: #FFFFFF;
    --icon-color: #969BAB;
    --transition: all 0.2s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.section-title {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    letter-spacing: 4px;
}

.section-title span {
    color: var(--secondary-text-color);
}

a {
    text-decoration: none;
}

.btn a {
    display: block;
    padding: 10px 24px;
    background: var(--btn-bg-color);
    font-size: 16px;
    color: var(--brand-text-color);
    border-radius: 2.5px;
    transition: var(--transition);
}

.btn:hover a {
    border-radius: 4px;
    transform: translateY(-4px) scale(0.99);
}

/* -----------------------
        Header Styles
-------------------------- */
header {
    background: var(--banner-bg-color);
    height: 677px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#header-container {
    padding-top: 42px;
}

/* nav styles */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-right: 36px;
}

ul li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--brand-text-color);
}

.nav-login-btn .fas {
    margin-right: 8px;
}

/* banner styles */
.banner {
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    text-align: left;
}

.banner-info .banner-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--brand-text-color);
    line-height: 80px;
    margin-bottom: 27px;
}

.banner-img img {
    width: 521.5px;
    height: 427.5px;
}

.banner-btn {
    width: 168px;
}

.banner-btn .fas {
    margin-left: 8px;
}

/* -----------------------
best-players section styles
-------------------------- */
.best-players {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.best-player {
    width: 330px;
    height: 474px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.best-player-img img {
    width: 300px;
    height: 256px;
}

.best-player-name {
    color: var(--primary-text-color);
    font-size: 28px;
    margin: 16px 0 10px 0;
}

.best-player-info {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 26px;
}

/* -----------------------
    FOOTER STYLES
-------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 63px 0;
}

.footer-logo img {
    width: 483px;
    height: 110px;
}

.footer-icons {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.footer-icons a {
    display: block;
    padding: 10px 14px;
    background: rgba(11, 13, 23, 0.1);
    border-radius: 50%;
    margin-right: 14px;
    transition: var(--transition);
}

.footer-icons a:hover {
    transform: translateY(-4px);
}

.footer-icons a .fab {
    font-size: 17px;
    color: var(--icon-color);
}

.footer-info {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}